<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Free CRM Test Automation Suite">
  <listeners>

<listener class-name="com.CRM.ExtentReportListener.ExtentReportListener"></listener>


</listeners>  


  <test name="Free CRM Test">

 
    <classes>
     
    <class name="com.CRM.testcaseslayer.LoginpageTest"/>
    
       <class name="com.CRM.testcaseslayer.HomepageTest"/> 
      <class name="com.CRM.testcaseslayer.ContactpageTest"/>    
  
  
    </classes>
   
  </test> <!-- Free CRM Test -->
   
</suite> <!-- Free CRM Test Automation Suite -->
